<!DOCTYPE html>
<html>
  <head>
    <title>Create Information</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <a href="/information">Information List</a> 
  </body>
</html>
